body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

/* Header contents */

.header-container {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header-logo {
    font-size: 24px;
    color: #F9F9F8;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
}

.header {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 36px;
    align-items: center;
}

.header-links div {
    font-size: 18px;
    color: #E5E7EB;
}

.awesome-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 96px 0;
}


#awesome {
    font-size: 48px;
    font-weight: 900;
}

#awesome-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 72px;
    gap: 12px;
    flex: 0 1 350px; /* doesn't grow outward, but shrinks. maintains a size of 350px */
    color: #E5E7EB;
}

#awesome-photo {
    background-color: grey;
    width: 500px;
    height: 200px;
}

/* for the text */
#awesome-photo div {
    text-align: center;
    padding: 80px;
} 

#awesome-box button { /* for the 'Sign Up' button */
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 10px 24px;
    border: white;
    border-radius: 8px; /* makes the button borders rounded */
    font-weight: 600;

    /* to give the button some interactive feel */
    transition-duration: 0.5s;
}

#awesome-box button:hover {
    background-color: #1D4ED8; /* darker blue on hover */
    cursor: pointer; /* changes cursor to pointer on hover */
}



/* Random information contents */

.random-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 96px 0;
}

#random-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 48px;
}

#random-content { /* flex-direction is row btw */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

.random-box {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 8px;
}

.random-img {
    /* padding: 85px; */
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6; /* blue border */
    border-radius: 16px;
}

.random-description {
    text-align: center;
    font-size: 12px;
    width: 150px; /* to help align the description with the image box above */
}




/*  Quote contents */

.quote-container {
    background-color: #E5E7EB;
}

.quote-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 96px 190px;
    flex-shrink: 1;
}

#quote {
    font-size: 36px;
    width: 800px;
    font-style: italic;
}

#thor {
    align-self: flex-end;
    margin-right: 250px;
    font-weight: 900;
    font-size: 18px;
}

#quote, #thor {
    color: #1F2937;
}


/* Action contents */

#action-section {
    display: flex;
    background-color: #3882F6;
    justify-content: space-around;
    align-items: center;
    margin: 96px 190px;
    border-radius: 8px;
}


#action-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #E5E7EB;
    padding: 48px 0;
}

#call {
    font-size: 24px;
    font-weight: 800;
}

#sign-up {
    font-size: 16px;
}

#action-button button {
    background-color: #3882F6;
    border-radius: 8px;
    font-size: 16px;
    color: #F9F9F8;
    width: 125px;
    height: 40px;
    border: 2px solid white;
}

#action-button button:hover {
    background-color: #1D4ED8; /* darker blue on hover */
    cursor: pointer; /* changes cursor to pointer on hover */
}


/* Footer contents */

.footer {
    background-color: #1F2937;
}

.footer-content {
    margin: 48px;
    text-align: center;
    color: #E5E7EB;
}